name: Build EtherChess
on:
  push:
    branches: [ "main" ]
  workflow_dispatch:
permissions:
  contents: write

jobs:
  build:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 9.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build and Publish
      run: dotnet publish -c Release -r win-x64 --self-contained true -o dist -p:PublishSingleFile=true -p:IncludeNativeLibrariesForSelfExtract=true

    - name: Zip Build Output
      run: Compress-Archive -Path dist/* -DestinationPath EtherChess.zip

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: EtherChess-Build
        path: EtherChess.zip

    - name: Create Release
      if: github.ref == 'refs/heads/main'
      uses: softprops/action-gh-release@v1
      with:
        files: EtherChess.zip
        tag_name: v1.0.${{ github.run_number }}
        name: v1.0.${{ github.run_number }}
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
